<!-- Pulsar API Documentation Page -->
<%-include("header")%>

  <body>
    <%-include("page_header")%>
    <div class="content">
      <%-include("sidebar", { bar: sidebar, include_summary: true })%>
      <main class="container">
        <section class="header">
          <h1 class="title"><%=title%></h1>
        </section>

        <section class="description">
          <header class="description__header">
            Description
          </header>
          <%- mdRender(content.description) %>
        </section>

        <% if (typeof content.examples !== "undefined") { %>
          <div class="api-entry" id="examples">
            <h5 class="api-entry-name">
              <a href="#examples">
                Examples
              </a>
            </h5>
            <div class="api-entry-summary">
              <% for (const example of content.examples) { %>
                <div class="api-example">
                  <%- mdRender(example.description) %>
                  <%- mdRender(example.raw) %>
                </div>
              <% } %>
            </div>
          </div>
        <% } %>

        <%- file %>

      </main>
    </div>
    <%-include("hovercard")%>
  </body>

<%-include("footer")%>
