<% for (const item of content) { %>
  <div class="api-entry" id="<%= anchorize(item.name) %>">
    <h4 class="api-entry__name">
      <a href="#<%= anchorize(item.name) %>">
        <span><%= locals.separator ?? '::' -%><%= item.name %></span>
      </a>
    </h4>
    <div class="api-entry-summary">
      <%- mdRender(item.summary) %>
    </div>
  </div>
<% } %>
