<!-- Pulsar API Documentation Summary Page -->
<%-include("header")%>

  <body>
    <%-include("page_header")%>
    <div class="content">
      <%-include("sidebar", { bar: sidebar, include_summary: true })%>
      <main class="container">
        <section class="header">
          <h1 class="title"><%=title%></h1>
        </section>

        <p>
          This section details the Pulsar Application API for version <code><%=title%></code>.
        </p>

        <%-include("list", { blocks: blocks })%>
      </main>
    </div>
    <%-include("hovercard")%>
  </body>

<%-include("footer")%>
