<!-- Pulsar API Documentation Summary Page -->
<%-include("header")%>

  <body>
    <%- include("page_header", { platform_switcher: false }) %>
    <div class="content">
      <%-include("sidebar", { bar: sidebar, include_summary: true, indexTitle: locals.indexTitle, include_toc: true })%>
      <main class="container">
        <section class="header">
          <h1 class="title" id="title"><%=title%></h1>
        </section>

        <p>
          This is the API for Pulsar version <code><%=title%></code>.
        </p>

        <%#
          Hovercards used within the API docs often generate URLs that go up
          one directory — usually the right choice for cross-referencing one
          class from another class's page. This will do the wrong thing on a
          summary page, though! The quickest, dirtiest fix is to rewrite the
          HTML on the fly, so that's what we'll do for now.
        %>
        <%- include("list", { blocks: blocks }).replaceAll('href="..', 'href=".') %>
      </main>
    </div>
    <%- include("hovercard") %>
  </body>

<%- include("footer") %>
