<!-- Pulsar API Documentation Page -->
<%-include("header")%>

  <body>
    <div class="container">
      <section class="header">
        <h1 class="title"><%=title%></h1>
      </section>

      <%- mdRender(content.description) %>

      <%- file %>

    </div>
  </body>

<%-include("footer")%>
