<!--- The main documentation page -->
<%- include("header") %>

<!-- Layout: doc -->
<body>
  <%- include("page_header", { platform_switcher: true }) %>
  <div class="content">
    <%-include("sidebar", { bar: sidebar, include_summary: true, indexTitle: locals.indexTitle, include_toc: true })%>
    <main class="container">
      <section class="header">
        <h1 class="title" id="title"><%= title %></h1>
      </section>

      <%- content %>

      <% if (locals.includeTemplate) { %>
        <% for (const template of locals.includeTemplate) { %>
          <%- include(template) %>
        <% } %>
      <% } %>

      <%
        let [prev, next] = helpers.nextAndPreviousSidebarEntries(page.url, sidebar)
      -%>

      <% if (prev || next) { -%>
      <nav class="adjacent">
        <% if (prev) { -%>
        <div class="adjacent__previous">
          <a href="<%= prev.link %>"><%= prev.text %></a>
        </div>
        <% } -%>
        <% if (next) { -%>
        <div class="adjacent__next">
          <a href="<%= next.link %>"><%= next.text %></a>
        </div>
        <% } -%>
      </nav>
      <% } -%>
    </main>

  </div>
  <%- include("hovercard") %>
</body>

<%- include("footer") %>
