<!-- Home page for the website -->
<%-include("header")%>

  <body>
    <%-include("page_header")%>
    <div class="content">
      <div class="container">
        <section class="header">
          <h1 class="title"><%=title%></h1>
        </section>

        <%- content %>

        <%-include("blocks", { blocks: root_sidebar })%>

      </div>
    </div>
  </body>

<%-include("footer")%>
