<!-- Home page for the website -->
<%-include("header")%>

  <body>
    <%- include("page_header", { system_switcher: true }) %>
    <div class="content">
      <main class="container">
        <section class="header">
          <h1 class="title"><%=title%></h1>
        </section>

        <%- content %>

        <%-include("blocks", { blocks: root_sidebar })%>

      </main>
    </div>
  </body>

<%-include("footer")%>
