<!-- Home page for the website -->
<%-include("header")%>

  <body>
    <div class="container">
      <section class="header">
        <h1 class="title"><%=title%></h1>
      </section>

      <%- content %>

      <%-include("blocks", { blocks: root_sidebar })%>

    </div>
  </body>

<%-include("footer")%>
